body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px;
    width: 70%;
}
button{
    color: white;
    background-color: green;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}
/* Style for delete button */
.delete-button {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right; /* Align to the right */
    border-radius: 5px;
}


button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 8px;
    background-color: #eee;
    border-radius: 4px;
}
